<div class="login-page-container">
  <div class="outer-container">
    <h1>Sign in</h1>
    <form (ngSubmit)="onSubmitLogin()">
        <div class="input-boxes">
            <input 
            name="username" 
            type="text" 
            placeholder="Username"
            [value]="username()"
            (input)="onUsernameChange($event)"
            >
            <div class="password-container">
                <input 
                id="password-input"
                name="password" 
                type="password" 
                placeholder="Password"
                [value]="password()"
                (input)="onPasswordChange($event)"
                >
                <button (click)="togglePassword()">{{passwordVisibleText()}}</button>
            </div>            
        </div>
        <button type="submit">Sign in</button>
    </form>
    <div class="bottom-container">
        <h3>Don't have an account yet?</h3>
        <button (click)="changeToRegisterForm()">Create new account</button>
    </div>

    @if (error().length !== 0) {
    <div class="error-container" (click)="closeError()">
        <p>{{error()}}</p>
    </div>
    }
  </div>
</div>